@import '../../../styles.scss';

.playlists__container {
	padding: 0.25rem;

	width: 100%;

	float: left;
}

.playlist {
	float: left;

	padding: 1.5rem;

	.playlist__add__icon {
		display: none;
	}

	.playlist__image--selected {
		img {
			opacity: 0.25;
		}
	}

	img {
	  display: block;

	  max-width: 22rem;
	  max-height: 12rem;

	  width: auto;
	  height: auto;
	}

	.playlist__title {
		background-color: $white;

		font-family: 'Open Sans';
		font-size: 1rem;
		font-weight: 400;
		color: $black;

		max-width: 22rem;

		width: auto;

		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

		padding: 0.5rem;
	}
}

.playlist:hover {
	cursor: pointer;

	position: relative;

	.playlist__add__icon {
		display: block;

		position: absolute;
      	left: 50%;
      	top: 50%;
      	transform: translate(-50%, -50%);

      	i {
      		font-size: 4rem;
      		color: $black;
      		opacity: 1;
      	}
	}

	img {
		opacity: 0.5;
	}
}