<div class="content__container">
	<button class="button--filled" (click)="logInToSpotify()" *ngIf="spotifyUserToken === null">
		Log in to Spotify
	</button>
	<div class="playlists__container" *ngIf="spotifyUserToken !== null && playlists !== null">
		<div class="playlist" *ngFor="let playlist of playlists" (click)="addPlaylist(playlist)">
			<div [ngClass]="getPlaylistClass(playlist)">
				<div class="playlist__add__icon"><i class="material-icons">playlist_add</i></div>
				<img src={{playlist.image}} />
			</div>
			<div class="playlist__title">{{playlist.name}}</div>
		</div>
	</div>
	<div>
		<button class="button--filled" (click)="uploadToAppleMusic()" *ngIf="spotifyUserToken !== null">
			Upload to Apple Music
		</button>
	</div>
	<app-loading [playlists]="selectedPlaylists" *ngIf="uploading"></app-loading>
</div>