@import 'theme.css';

.body__container {
	background-color: var(--light-bazaar);

	height: 86vh;
	width: 100%;

	text-align: center;
}

.body__wrapper {
	display: inline-block;
	margin: 2.5rem;
}

.spotify__container {
	padding: 0.25rem;

	height: 10rem;
	width: 20rem;

	float: left;
}

.playlist__input__container {
	padding: 0.25rem;

	height: 10rem;

	float: left;
}

.apple__music__container {
	padding: 0.25rem;

	height: 10rem;

	float: left;
}

.playlist__input {
	color: var(--dark-bazaar);

	font-size: 1rem;
	font-family: 'Open Sans';

	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0.5rem;

	border-radius: 5px;
	border: none;

	box-shadow: 5px 5px var(--bazaar);
}

.button {
	background-color: var(--medium-bazaar);
	color: white;

	font-family: 'Open Sans';
	font-size: 1rem;

	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	border-radius: 5px;
	border: none;

	box-shadow: 5px 5px var(--bazaar);
}

.button:hover {
	cursor: pointer;
}

.select {
	font-family: 'Open Sans';
	font-color: grey;

	user-select: none;
}

.js-select-list {
	margin-top: 0.25rem;
}

.list {
	list-style-type: none;
	float: left;
	text-align: left;
	width: 100%;
}

.option {
	color: var(--dark-bazaar);

	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 0.5rem;
}

.select .js-default-option {
	background-color: white;
	width: 100%;

	border-radius: 5px;

	text-align: left;
}

.js-default-option img {
	float: right;
	padding-right: 0.5rem;
}

.select .js-default-option:hover {
	cursor: pointer;
}

.select .js-select-list {
	background-color: white;
	border-radius: 5px;

	display: none;
	box-shadow: 5px 5px var(--bazaar);

	overflow-y: scroll;

	height: 17.5rem;
}

.select .active {
	display: block;
}

.option__container {
	display: flex;

	border-bottom: 1px solid var(--light-bazaar);
}

.option__image {
	height: 3.5rem;
	width: 3.5rem;
}

.option__text {}

.select .js-select-list li {
	cursor: pointer;
	width: 100%;
}

.select .js-select-list li:hover {
	background-color: var(--light-grey);
}

.select .js-select-list li:first-child:hover {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.select .js-select-list li:last-child:hover {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.select .option {
	align-items: center;
}

.hidden {
	display: none;
}