@import 'theme.css';

.header__container {
	background-color: var(--bazaar);

	height: 8vh;
	width: 100%;

	padding: 0.75rem;

	text-align: center;

	position: relative;
  	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.title {
	color: white;

	font-family: 'Montserrat';
	font-size: 2rem;
	font-weight: 400;
}