@import 'theme.css';

.loading__modal {
    display: none;
    position: fixed;

    z-index: 1000;

    height: 100%;
    width: 100%;
}

.show {
	display: block;
}

.success__modal {
	display: none;
	position: fixed;

	font-size: 1.25rem;
	font-family: 'Open Sans';
	color: var(--dark-bazaar);
}