@import 'theme.css';

.nav__container {
	background-color: var(--medium-bazaar);

	text-align: center;

	height: 6vh;

	color: var(--dark-bazaar);
}

.nav__link {
	float: left;

	padding: 1rem;

	height: 100%;

	font-family: 'Open Sans';
}

.nav__link:hover {
	cursor: pointer;

	background-color: var(--light-bazaar);
}

.nav__container .selected {
	background-color: var(--light-bazaar);
}