@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

:root {
  --bazaar: rgba(152, 114, 132, 1);
  --celestial-blue: rgba(68, 157, 209, 1);
  --pastel-gray: rgba(208, 214, 181, 1);
  --melon: rgba(249, 181, 172, 1);
  --tango-pink: rgba(238, 118, 116, 1);

  --dark-bazaar: rgba(70, 52, 60, 1);

  --medium-bazaar: rgba(189, 165, 176, 1);

  --light-bazaar: rgba(236, 229, 232, 1);
  --light-melon: rgba(250, 194, 187, 1);
  --light-grey: rgba(231, 230, 230, 1);
}