<div class="nav__bar__container">
	<ul>
		<li>
			<div class="nav__bar__route">
				<a routerLink="/spotify-to-apple" routerLinkActive="active">
					<h2>Spotify to Apple Music</h2>
				</a>
			</div>
		</li>
		<li>
			<div class="nav__bar__route">
				<a routerLink="/apple-to-spotify" routerLinkActive="active">
					<h2>Apple Music to Spotify</h2>
				</a>
			</div>
		</li>
		<li>
			<div class="nav__bar__route">
				<a routerLink="/share-with-friend" routerLinkActive="active">
					<h2>Share with a Friend</h2>
				</a>
			</div>
		</li>
	</ul>
</div>
