@import '../../../styles.scss';

.nav__bar__container {
	width: 100%;

	background-color: $indigo_dark;

	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

	text-align: center;
}

.nav__bar__container ul {
	height: 100%;
	width: 100%;

	display: inline-block;
}

.nav__bar__container .nav__bar__route {
	float: left;

	padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.nav__bar__container .nav__bar__route:hover h2 {
	color: $yellow;
	font-weight: 600;

	cursor: pointer;
}

.nav__bar__container h2 {
	font-family: 'Work Sans';
	font-size: 1.25rem;
	font-weight: 400;

	color: $blue_light;

	padding: 0.25rem;
}

.active h2 {
	color: $yellow;
	font-weight: 600;
}