/* You can add global styles to this file, and also import other style files */
@import 'material-design-icons/iconfont/material-icons.css';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

$white: #fff;
$grey: #f5f5f6;
$black: #212121;

$blue_light: #9aa3da;

$indigo: #3f51b5;
$indigo_light: #757de8;
$indigo_dark: #002984;

$yellow: #ffee58;
$yellow_light: #ffff8b;
$yellow_dark: #c9bc1f;

* {
	box-sizing: border-box;

	padding: 0;
	margin: 0;
}

body {
	background-color: $grey;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.content__container {
	padding: 1rem;

	text-align: center;
}

.button--filled {
	background-color: $yellow;

	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	text-align: center;

	padding: 0.5rem;

	font-family: 'Open Sans';
	font-size: 1rem;

	color: $indigo_dark;
}

.button--filled:hover {
	cursor: pointer;

	background-color: $yellow_light;
}