<div class="loading__overlay">
	<div class="loading__content">
		<div class="loading__title">Uploading Playlists</div>
		<div class="playlist" *ngFor="let playlist of playlists">
			<div class="playlist__image"><img src={{playlist.image}} /></div>
			<div class="playlist__name">{{playlist.name}}</div>
		</div>
	</div>
</div>