@import '../../../styles.scss';

.loading__overlay {
	position: fixed;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.5);

	z-index: 2;

	cursor: pointer;

	.loading__content {
		position: absolute;

		top: 50%;
		left: 50%;

		transform: translate(-50%,-50%);

		height: 50%;
		width: 50%;

		overflow-y: scroll;

		background-color: $grey;

		border-radius: 3px;

		.loading__title {
			padding: 0.75rem;

			text-align: center;

			font-family: 'Space Mono';
			font-size: 1.5rem;
		}

		.playlist {
			font-family: 'Work Sans';
			font-size: 1.25rem;

			text-align: left;

			color: $black;

			width: 100%;

			float: left;

			.playlist__image img {
			  display: block;

			  max-width: 10rem;
			  max-height: 5rem;

			  width: auto;
			  height: auto;

			  float: left;
			}

			.playlist__name {
				float: left;

				padding: 1rem;
			}
		}

		.playlist:nth-child(even) {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}