@import '../../../styles.scss';

.top__bar__container {
	width: 100%;

	background-color: $indigo;

	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

	text-align: center;
}

.top__bar__container h1 {
	font-family: 'Space Mono';
	font-size: 2.75rem;

	color: $white;

	padding: 0.5rem;
}